@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Public Sans', sans-serif;
  --font-circe: 'Circe', sans-serif;
  --font-content: 'Content', sans-serif;

  --color-blue: rgba(14, 108, 221, 1);
  --color-text-black: rgba(51, 51, 51, 1);
  --color-yelow: rgba(255, 215, 64, 1);
  --color-dark-yellow: rgba(255, 202, 0, 1);
  --color-input-blue: rgba(14, 108, 221, 1);
  --color-ultra-dark-blue: rgba(0, 71, 156, 1);
  --color-bg-blue: rgba(14, 108, 221, 1);
  --color-text-gray: rgba(125, 125, 125, 1);
  --color-red: rgba(227, 30, 36, 1);
  --color-green: rgba(52, 168, 83, 1);
  --color-strawberry: rgba(251, 99, 64, 1);
  --color-violet: rgb(137, 60, 169);
  --color-dark-blue: rgba(0, 92, 204, 1);
  --color-BG: rgba(241, 246, 253, 1);
  --color-black-60: rgba(182, 182, 182, 1);
  --color-black-30: #EDEDED;
  --color-black-40: #DEDEDE;


  --breakpoint-2xl-3xl: 98rem;
  --breakpoint-3xl: 118rem;
}

body { 
  font-family: var(--font-circe);
}

